.BloggingFooter {
  text-align: center;
  padding: 2rem;
}

.BloggingFooter-want-to-write-blog-text {
  font-size: 5.5rem;
  font-family:bold;
  color: #2e436a;
  margin-bottom: 1rem;
}

.BloggingFooter-descriptio {
  font-size: 2.5rem;
  color: #485d7e;
  font-family: demi-bold;
  margin-bottom: 2rem;
}

.BloggingFooter-button {
  font-size: 35px;
  padding: 1rem 3rem;
  background-color: #6d87f5;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: bold;
}

.BloggingFooter-button:hover {
  background-color: #5c77e2;
}
.bloggingcard-paginayion {
  display: flex;
  margin-right: 59rem;
  margin-left: 59.1rem;
  padding-bottom: 15.3rem;
}
.page-item {
  list-style: none;
  padding: 0.3rem 0rem;
}
.page-link {
  text-decoration: none;
  font-size: 2rem;
  color: #5e5e5e;
  opacity: 1;
  margin-right: 7.5rem;
  transition: 0.5s;
}
.page-link:hover {
  color: #ffffff;
  opacity: 1;
  background: #2e436a 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  padding: 0.3rem 2.2rem 0.3rem 2.1rem;
}
.bloggingcard-paginayion-right-icon {
  margin: 0.3rem 0rem;
  font-size: 2rem;
  color: #5e5e5e;
  opacity: 1;
  transition: 0.5s;
}
.bloggingcard-paginayion-right-icon:hover {
  color: #e91919;
  opacity: 1;
  /* background: #2E436A; */
  border-radius: 15px;
  opacity: 1;
  padding: 0.3rem 2.2rem 0.3rem 2.1rem;
  font-size: 2rem;
}
.bloggingcard-paginayion-next-btn {
  font-size: 2rem;
  color: #5e5e5e;
  opacity: 1;
  margin-left: 7rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.5s;
}
.bloggingcard-paginayion-next-btn:hover {
  color: #ffffff;
  opacity: 1;
  background: #2e436a 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  padding: 0.3rem 2.2rem 0.3rem 2.1rem;
}

@media (max-width: 767px) {
  .BloggingFooter {
    text-align: center;
  }

  .BloggingFooter-want-to-write-blog-text,
  .BloggingFooter-descriptio,
  .BloggingFooter-button {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .BloggingFooter-want-to-write-blog-text {
    font-size: 18px;
  }
  
  .BloggingFooter-descriptio {
    font-size: 12px;
  }
  
  .BloggingFooter-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
