.dark-banner {
  padding: 2rem 0;
  background-color:#2E436A;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  color: white;
}

.dark-banner .title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 2rem;
}

.dark-banner .subtitle {
  font-size: 1.7rem;
  margin: 0 2rem;
}
.dark-banner .slick-arrow {
  display: none !important;
}
.dark-banner .logo-container {
  width: 100%;
  bottom: 0;
}

@media (min-width: 500px) {
  .dark-banner .title {
    font-size: 4rem;
  }
  .dark-banner .logo-container img {
    width: 7rem !important;
  }
}
@media (min-width: 768px) {
  .dark-banner {
    padding: 4rem 0;
    gap: 3rem;
  }
  .dark-banner .title {
    font-size: 6rem;
    padding: 0 60px 0 70px !important;
  }
  .dark-banner .subtitle {
    font-size: 2rem;
    padding: 0 60px 0 70px !important;
  }
  .dark-banner .logo-container img {
    width: 9rem !important;
  }
}
@media (min-width: 1024px) {
  .dark-banner .subtitle {
    font-size: 2.5rem;
  }
  .dark-banner .logo-container img {
    width: 10rem !important;
  }
}

