.key-attribute-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #6d87f5;
  padding: 6rem 30px;
}
.key-attribute-heading {
  letter-spacing: 0;
  font-size: 5.5rem;
  line-height: 6.6rem;
  font-style: normal;
  font-family: bold;
  text-align: center;
  color: white;
}
.description {
  letter-spacing: 0;
  line-height: 3.3rem;
  font-weight: 500;
  font-size: 1.7rem;
  font-style: normal;
  text-align: justify;
  color: white;
}

.figure-numbers-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}
.figure-number {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.number {
  font-size: 5rem;
  font-family: bold;
  color: white;
  font-weight: bold;
}
.learner {
  font-size: 3rem;
  color: white;
  font-family: demi-bold;
}
.highlight-text {
  color: #104294;
  font-family: extra-bold;
}
@media (min-width: 500px) {
  .description {
    text-align: left;
    font-size: 2rem;
  }
  .figure-numbers-box {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .figure-number {
    width: fit-content;
  }
}
@media (min-width: 768px) {
  .description {
    font-size: 2.3rem;
  }
  .key-attribute-box {
    padding-right: 60px !important;
    padding-left: 70px !important;
  }
  .figure-numbers-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .key-attribute-box {
    padding-right: 100px !important;
    padding-left: 140px !important;
  }
}
