.main-body {
  background-color: #f7fafc;
  margin-top: 20%;
}

@media (min-width: 1024px) {
   .main-body {
      margin-top: 10%;
   }
}

@media (min-width: 1280px) {
   .main-body {
      margin-top: 7rem;
   }
}
