.course-choise-box{
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 1rem;
}

@media (max-width:768px)
{
    .course-choise-box{
        padding: 0px 20px;
        margin-top: 15rem;
    grid-template-columns: repeat(1, 1fr); /* Two columns */
    gap: 2rem;
    }
}