@font-face {
    font-family:'VisbyRoundCF-Regular';
    src: url(/fonts/visiby-Round/OTF/VisbyRoundCF-Regular.otf);
}
*{
    font-family: 'VisbyRoundCF-Regular';
}
@media (max-width:767px){
    .container1{
        padding: 0rem 0rem;
    }
}