.main_box21 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 90%;
  max-width: 1200px;
  border-radius: 10px;
  background-color: #F7FAFC;
  overflow: hidden;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  padding: 1rem;
  margin-left: 12rem;
}

.search-container {
  display: flex;
  align-items: center;
  height: 68px;
  width: 100%;
  background-color: white;
  border-radius: 18px;
  box-shadow: 6px 6px 12px #00000029;
}

.buttun3:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.buttun4{
  width:20.25rem ;
  height: 5.2rem;
  border-radius: 15px;
  font: normal normal bold 20px/26px bold;
  border: 2px solid #000;
  gap: 1.5rem;
  
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0 0 10px;
  font-size: 2.5rem;
  font-family: bold;
}

.modal-content p {
  margin: 0 0 20px;
  font-size: 2rem;
  font-weight: 500;
}

.modal-content .buttun {
  margin: 0 10px;
}

.search-container input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #333;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  color: #6d87f5;
  font-weight: 700;
}

.buttun {
  width: 20.25rem;
  height: 5.2rem;
  border-radius: 15px;
  font: normal normal bold 20px/26px bold;
}

.buttun3 {
  width: 22.25rem;
  height: 5.2rem;
  border-radius: 15px;
  font: normal normal bold 20px/26px bold;
  border: 2px solid #000;
  color: #000;
  margin-top: 10rem;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.righty label {
  color: #2E436A;
  font: normal normal bold 25px/26px extra-bold;
}

.righty {
  width: 100%;
  height: 95%;
  margin: 2.5%;
  padding: 30px;
}

.righty h1 {
  color: #103270;
}

.righty h4 {
  color: #223db7;
  font-size: 1rem;
  margin-bottom: 20px;
}

.righty .lng {
  margin-top: 10px;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.righty input {
  color: #000;
}

.edit {
  font: normal normal bold 16px/26px extra-bold;
}

/* Media queries for responsiveness */
@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
    margin-left: 0;
  }

  .column {
    margin-left: 0;
    padding: 0;
    gap: 1rem;
  }
  .buttun4{
    width: 15rem;
    font-size: 1.3srem;
  }
  .search-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .buttun3 {
    width: 100%;
    margin-top: 2rem;
  }

  .righty {
    padding: 1rem;
  }

  .modal-content h2 {
    font-size: 1.8rem;
  }

  .modal-content p {
    font-size: 1.2rem;
  }
}
