@font-face {
  font-family: 'extra-bold';
  src: url(../../../../assets//fonts//VisbyRoundCF-ExtraBold.otf);
}

.exp-cards {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .exp-cards-colorfulbg {
    padding: 20px;
    border-radius: 8px;
  }
  
  .exp-card-image {
    width: 100%;
    max-width: 150px; 
    height: auto;
    border-radius: 8px;
  }
  
  .exp-cards-head {
    margin-top: 20px;
    color: #2E436A;
    font: normal normal bold 25px/40px bold;
    font-family: 'bold';
    text-align: left;
  }
  
  .exp-cards-para {
    margin-top: 10px;
    color: #2E436A;
    line-height: 0;
    font: normal normal normal 18px/40px regular;
  }
  
  @media (min-width:768px) and (max-width:912px){
    .exp-cards{
      height:35rem;
      margin: 0rem 1rem;
    }
  }@font-face {
    font-family: 'extra-bold';
    src: url(../../../../assets//fonts//VisbyRoundCF-ExtraBold.otf);
  }
  
  .exp-cards {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
    }
    
    .exp-cards-colorfulbg {
      padding: 20px;
      border-radius: 8px;
    }
    
    .exp-card-image {
      width: 100%;
      max-width: 150px; 
      height: auto;
      border-radius: 8px;
    }
    
    .exp-cards-head {
      margin-top: 20px;
      color: #2E436A;
      font: normal normal bold 25px/40px bold;
      font-family: 'bold';
      text-align: left;
    }
    
    .exp-cards-para {
      margin-top: 10px;
      color: #2E436A;
      line-height: 0;
      font: normal normal normal 18px/40px regular;
    }
    
    @media (min-width:768px) and (max-width:912px){
      .exp-cards{
        height:35rem;
        margin: 0rem 1rem;
      }
    }