.hackathon-page{
    background-color:#F7FAFC;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(14rem);
} 

@media (max-width:768px)
{
    .hackathon-page{
    padding: 0;
    transform: translateY(50px);
    }
}