@font-face {
    font-family: 'bold';
    src: url(../../../../assets/fonts/VisbyRoundCF-DemiBold.otf);
}
.circle{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 1.5rem;
    overflow: hidden;
    
}
.backGroundCircle{
    border-radius: 50%;
}
.circle img{
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    padding: 2rem; 
    margin: auto; 
}
.circles-head{
    margin-top: 2.3rem;
    color: #2E436A;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'bold';
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width:767px){
    .circle img{
        height:auto;
        width: 10rem;
    }
    .circles-head{
        font-size: 1.85rem;
        margin-top: 0rem;
    }
}