@font-face {
    font-family: 'extra-bold';
    src: url(../../../assets/fonts/VisbyRoundCF-ExtraBold.otf);
}

overview {
    background-color: #F7FAFC;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.overview-head {
    font-size: 5.5rem;
    margin-left: 14rem;
    margin-right: 14rem;
    color: #2E436A;
    
}

.overview-head p {
    margin-top: 9.7rem;
    font-family: 'extra-bold';
}

.overview-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display as grid with 4 columns */
    gap: 1.6rem;
    margin-top: 10rem;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 10rem;
}

@media (max-width: 767px) {
    .overview-card {
        grid-template-columns: repeat(1, 1fr); 
        margin-left: 2rem; 
        margin-right: 2rem; 
    }
    .overview-head{
        margin-left: 0rem;
    margin-right: 0rem;
    text-align: center;
    }
}

@media (max-width: 1024px) {
    .overview-card {
        grid-template-columns: repeat(2, 1fr); 
        margin-left: 6rem; 
        margin-right: 6rem; 
    }
}

@media (max-width: 767px){
    .overview{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}