
@font-face {
  font-family: "regular";
  src: url(../../assets/Visby-Round-www.Dfonts.org/Visby-Round-www.Dfonts.org/OTF/VisbyRoundCF-Regular.otf);
}
* {
  font-family: "regular";
}
.events {
  width: 100%;
  background-color: #f7fafc;
  padding: 0 30px;
}

@media (min-width: 1280px) {
  .events {
    gap: 7rem;
    padding: 0rem 0px 0 0px !important;
  }
}
