.roadmap{
    background: #2E436A 0% 0% no-repeat padding-box;
    padding-left: 18rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-right: 9rem;
}
.roadmap img{
    max-width: 100%;
    height:auto;
}
.roadmap p{
    font-size: 6rem;
    color:#FFFFFF;

}

@media (max-width:767px){
    .roadmap{
        text-align: center;
        padding-left:0rem;
        padding-right: 0rem;
    }
}