.speaker{
    background: #F7FAFC 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction:column;
    margin-top: 5rem;
}
.speaker-heading{
    text-align: center;
    color:#2E436A;
    font-size: 5rem;
}
.speaker-content{
    display: flex;
    flex-direction:row;
    margin-top: 8rem;
    margin-bottom: 9.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
    flex-wrap: wrap;
    justify-content: center;
}
.speaker-biodata{
    font-size: 3rem;
    line-height: 45px;
    max-width: 104rem;
}   

.speaker-profile{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.speaker-profile img{
    height: auto;
}
.speaker-profile-name{
    font-family: 'bold';
    font-size: 3.5rem;
    color:#2E436A;
}
.speaker-profile-company{
    font-family: 'medium';
    font-size: 3rem;
    color:#2E436A;
}

.speaker-profile-linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2E436A 0% 0% no-repeat padding-box;
    font-size: 3.5rem;
    color:white;
    gap:4.6rem;
    max-width: 42rem;
    border-radius: 15px;
}
.speaker-profile-linkedin img{
    max-width:15%;
    height: auto;
}

.speaker-heading p{
    font-family: 'bold';
}
.speaker-biodata p{
    font-family: 'medium';
}
.speaker-profile-linkedin p{
    font-family: 'medium';
}
@media (max-width:768px)
{   .speaker-heading{
    font-size: 4.5rem;
}
    .speaker{
        padding: 0px 20px;
    }
    .speaker-content{
        padding: 0rem;
    }
    .speaker-profile-linkedin{
        font-size: 2.4rem;
    }
    
}