.alumni .company-card {
    padding: 84px; /* Increased padding to make the image larger */
  }
  
  .alumni .company-card img {
    width: 229px; /* Ensure the image takes up the full width of its container */
    height: 39px;
  }
  .our{
    font-family: bold;
  }
  /* Alumni.css */

/* Alumni.css */
/* Alumni.css */

.rotate {
  animation: rotateAndScale 1s ease-in-out;
}

@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg) scale(1) translateZ(0);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(0.5) translateZ(50px);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg) scale(1) translateZ(0);
    opacity: 1;
  }
}

.company-card {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
