.alumni .company-card {
    padding: 84px; /* Increased padding to make the image larger */
  }
  
  .alumni .company-card img {
    width: 229px; /* Ensure the image takes up the full width of its container */
    height: 39px;
  }
  .our{
    font-family: bold;
  }
  