.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f4fb;
    min-height: 100vh;
  }
  
  .main_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90vh;
    max-width: 1200px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
  }
  
  .left {
    background-color: #6d87f5;
    width: 30%;
    height: 82%;
    margin: 2.5%;
    border-radius: 10px;
    padding: 30px;
  }
  
  .left h1 {
    color: beige;
  }
  
  .left h2 {
    color: #e9f4fb;
    font-size: 2rem;
    font-weight: 800;
  }
  .image{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 2px solid black;
    margin-left: 25px;
  }
  
  .cards {
    margin-top: 60px;
    background-color: #3853c5;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    bottom: -8%;
  }
  
  .try {
    color: #e9f4fb;
  }
  
  .card_info {
    display: flex;
    align-items: center;
  
  }
  .info{
    margin-left: 20px;
  }
  
  .right {
    width: 40%;
    height: 95%;
    margin:2.5%;
    padding: 30px;
  }
  
  .right h1 {
    color: #2e436a;
  }
  
  .right h4 {
    color: #6d87f5;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .right .lng {
    margin-top: 10px;
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  
  }
  
  .btn {
    margin-right: 20px;
    width: 30%;
    height: 50px;
    color: azure;
    background-color: #6d87f5;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .check {
    margin-right: 10px;
  }
  
  .extra {
    color: #6d87f5;
  }
  
  .cont {
    margin-bottom: 20px;
    margin-left: 65px;
    margin-right: auto;
  }
  
  .google {
    height: 50px;
    width: 150px;
    right: 30%;
    position: absolute;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  @media (max-width:700px) {
    .left{
      display: none;
    }
    .btn{
        width: 95%;
        min-width: 244px;
        margin-left: 16px;
        height:40px;
    }
    .right{
      width:95%;
      min-width: 244px;
    }
    .right .lng{
      width: 95%  ;
    }
    .google{
      margin-left: auto;
      margin-right: auto;
    }
    .cont{
      overflow: hidden;
    }
  }