.overviewcard-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 5rem;
    border: 3px solid #2E436A;
}

.overviewcard-card img {
    height: auto;
    max-width: 7.6rem;
    margin-left: 3.1rem;
    margin-top: 8rem;
    margin-bottom: 4.3rem;
}

.overviewcard-card p {
    color: #2E436A;
    font-size: 2.5rem;
    margin-left: 3.1rem;
    margin-right: 3.1rem;
}

@media (max-width: 430px) {
    .overviewcard-card img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .overviewcard-card p {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 320px) {
    .overviewcard-card img {
        max-width: 6rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    
    .overviewcard-card p {
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 767px){
    .overviewcard-card{
        padding-bottom: 0rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .overviewcard-card p,.overviewcard-card img{
        margin-left: 0rem;
        margin-right: 0rem;
        text-align: center;
    }
}