@font-face {
    font-family: 'bold';
    src: url(./assets/fonts/VisbyRoundCF-Bold.otf);
}
@font-face {
    font-family: 'demi-bold';
    src: url(./assets/fonts/VisbyRoundCF-DemiBold.otf);
}
@font-face {
    font-family: 'extra-bold';
    src: url(./assets/fonts/VisbyRoundCF-ExtraBold.otf);
}
@font-face {
    font-family: 'extra-light';
    src: url(./assets/fonts/VisbyRoundCF-ExtraLight.otf);
}
@font-face {
    font-family: 'heavy';
    src: url(./assets/fonts/VisbyRoundCF-Heavy.otf);
}
@font-face {
    font-family: 'light';
    src: url(../assets/fonts/VisbyRoundCF-Light.otf);
}
@font-face {
    font-family: 'medium';
    src: url(./assets/fonts/VisbyRoundCF-Medium.otf);
}
@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/VisbyRoundCF-Regular.otf);
}