@font-face {
    font-family: 'bold';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-Bold.otf);
}
@font-face {
    font-family: 'demi-bold';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-DemiBold.otf);
}
@font-face {
    font-family: 'extra-bold';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-ExtraBold.otf);
}
@font-face {
    font-family: 'extra-light';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-ExtraLight.otf);
}
@font-face {
    font-family: 'heavy';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-Heavy.otf);
}
@font-face {
    font-family: 'light';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-Light.otf);
}
@font-face {
    font-family: 'medium';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-Medium.otf);
}
@font-face {
    font-family: 'regular';
    src: url(/fonts/visby-Round/OTF/VisbyRoundCF-Regular.otf);
}